@charset "utf-8";

@import "./customisation.scss";

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/columns.sass";

@import "bulma/sass/layout/section.sass";

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/title.sass";

@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/panel.sass";

@import "./components/artist-image.scss";
@import "./components/range-slider.scss";

@import "./sections/seedList/index.scss";

.is-hidden {
  display: none;
  opacity: 0;
}

.navbar-title {
  font-weight: bold;
}

.content-centered {
  justify-content: center;
  align-items: center;
}

seed-list {
  margin-top: 1rem;
}
